/* Navbar.css */


   .navbar {
    background-color: #ec3d3d;
    color: #fff;
    padding: 30px 30px; /* Adjust padding for better spacing */
    width: 97%;
    position: fixed; /* Fixed position */
    top: 0;
    z-index: 1000;
}


  
  .navbar-container {
    display: flex;
   justify-content: space-between;
    
  
  }
  
  .logo-container {
    display: flex;
    align-items: center;
  }
  
  .admin-icon {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    margin-left: 10px;
    font-size: 18px;
    margin-left: 5px;
  }
  
  .customIcon {
    font-size: 30px;
    margin-top: -10px;
  }
  
  .links-container {
    display: flex;
    align-items: center;
    
   
  }
  
  .nav-link {
    text-decoration: none;
    color: #fff;
    margin-left: 30px;
    font-size: 18px;
  }
  
 
  
  .nav-link:hover {
    text-decoration: underline;
  }
  