.sidebar {
  width: 250%;
  height: 100vh;
  background-color: #333;
  color: #fff;
  position: fixed;
  top: 8%;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
  position: fixed;
  
}

.sidebar-menu {
  list-style-type: none;
  padding: 0;
}

.sidebar-menu li {
  padding: 20px 30px; /* Adjust padding to your preference */
  border-bottom: 1px solid #555;
}

.sidebar-menu li a {
  text-decoration: none;
  color: #fff;
  display: flex; /* Make the link container a flexbox */
  align-items: center; /* Center items vertically */
}

.sidebar-menu li a{
   /* Add space between the icon and text */
   padding: 15px;
}
.sidebar-Icon {
  margin-right: 08px;
  font-size: 18px;

}

.sidebar-menu li:hover {
  background-color: #444;
}
