.homepage-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Set height to full viewport height */
  }
  
  .homepage-content {
    text-align: center;
  }
  