
.update-popup {
    position: fixed;
    width: 25%;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 9999;
  }
  
  .update-popup h2 {
    margin-top: 0;
  }
  
  /* Close button */
  .close {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    font-size: 20px;
    color: #888;
  }
  
  .close:hover {
    color: #555;
  }
  